<div class="container">
  <div class="jumbotron centered">
    <h1>Welcome to Sam Kirsch's Page</h1>
  </div>
  <div class="container centered">
    <div class="well">
      <h3>I am a junior-level dev currently looking for opportunities!</h3>
    </div>
  </div>
  <div class="container">
    <div class="panel panel-success">
      <div class="panel-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra dapibus mattis. Sed ultricies ex sed felis eleifend hendrerit. Donec viverra sapien feugiat odio ornare euismod. Suspendisse fringilla, turpis eget tincidunt hendrerit, arcu sem facilisis leo, eu tempus mi urna at diam. Vivamus et tortor quis nisl vehicula mollis et sed turpis. Phasellus ac accumsan nulla, sed porttitor purus. Aenean tortor risus, efficitur et felis vitae, congue porta urna.</p><p>

Morbi pellentesque tempor arcu, non vestibulum orci pulvinar quis. Fusce porta eros mauris, quis tempus magna aliquam quis. Suspendisse auctor mi at urna condimentum, a luctus enim gravida. Duis ligula neque, placerat sed ex quis, sollicitudin venenatis mi. Mauris tincidunt aliquet nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse cursus mauris ante, non dignissim nulla rutrum non. Aliquam odio turpis, egestas mattis erat non, tincidunt hendrerit dui.</p>
      </div>
    </div>
  </div>
  <div class="container centered well">
    <h2>Some links</h2>
    <li><a href="http://www.github.com/denalisk">My Github</a></li>
    <li><a href="http://www.linkedin.com/samkirsch">My LinkedIn</a></li>
  </div>
</div>
