<div class="container">
  <div class="jumbotron centered">
    <h1>Projects</h1>
  </div>
  <div class="container centered">
    <div class="well">
      <p><strong>Here are some of the projects I have been working on in and out of my class</strong></p>
    </div>
  </div>
  <div class="container">
    <div id="projects-container"></div>
  </div>
</div>
